BOT_TOKEN=YOUR_BOT_TOKEN_HERE
ADMIN_IDS=123456789,987654321
FORCE_SUB_CHANNEL=@your_channel_username
CHANNEL_INVITE_LINK=https://t.me/your_channel
BOT_LINK=https://t.me/YourBotUsername
SUPPORT_CONTACT=@admin_username
OTP_LOGIN_ENABLED=True

MONGODB_URI=mongodb://mongo:27017
MONGODB_DB_NAME=spicy_motivation_bot

OWNER_USERNAME=@YourOwnerUsername
OWNER_EMAIL=owner@example.com
